.Game .Stage svg {
  border: 1px solid lightgray;
}

.Game .debug-info {
  font-family: monaco;
  font-size: 10px;
  color: lightgray;
}

.Game .button-bar {
  font-family: helvetica;
  font-size: 12px;
}
.Game .hack-panel textarea {
  border: 1px solid lightgray;
  width: 100%;
}

.Stage svg {
  background-color: #d2eeea;
}
